/** @format */

.upload_modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 2px dashed transparent;
  border-radius: 3px;
  min-height: 250px;
  height: auto;
  grid-gap: 5%;
  padding-top: 50px;
  background-color: #f4f7fc;
}
.upload_text {
  margin: 13px 0;
}
.upload_modal.active {
  border: 2px dashed red !important;
}
.upload_modal .img {
  height: auto;
  width: 140px;

  pointer-events: none;
}
.upload_img_close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upload_modal [type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

.upload_modal [type="file"] + label {
  border: none;
  color: var(--blue);
  cursor: pointer;
  outline: none;
}
