/** @format */

.List_Wrapper {
  width: 100%;
}
.List_filter {
  /* display: grid; */
  padding-bottom: 14px;
  padding-top: 5%;

  align-items: center;
  /* grid-template-columns: 1fr auto auto; */
}
.List_filter .filter_holder {
  display: grid;
  align-items: center;
  grid-gap: 10px;
  grid-template-columns: 360px 2fr auto;
}

.btns_holder {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  justify-content: space-between;
  justify-content: center;
}
.btn_Edit {
  background-color: white;
  border: 1px solid gray;
  padding: 3.5px 10px !important;
}

.plus_icon {
  margin-right: 7px;
  padding: 1px;
}
.Filter_ctrl {
  color: black;
  width: max-content;
  /* height: 35px; */
  font-size: 14px;
  border-radius: 5px;
  color: var(--gray);
  display: flex;
  align-items: center;
  padding: 3px 10px;
  align-items: center;
  margin-left: 5px;
  justify-content: center;
  border: 1px solid #edeef0;
  background-color: var(--lighter-gray);
}
.filterIcon {
  color: var(--light-gray);
}

.btn_delete {
  background-color: var(--red) !important;
  color: white;
  /* padding: 6px 10px !important; */
}
.List_head {
  background-color: var(--lighter-gray);
  border-radius: 7px 7px 0 0;
  font-size: 14px;
}

.List_head,
.List_item {
  width: 100%;
  display: grid;
  padding: 15px 0;

  grid-template-columns: 0.4fr 0.4fr 3fr 40px 1.5fr 1.5fr 1.5fr 0.9fr;

  border: 1px solid var(--lighter-gray);
}
.List_item {
  color: var(--gray);
  background-color: white;
  font-size: 14px;
}
.List_item:hover {
  background-color: rgb(229, 239, 243);
}
.selected_Item {
  background-color: rgb(229, 239, 243) !important;
}
.List_head :nth-of-type(2) {
}
.List_item > div:nth-of-type(2) {
  text-align: left;
}
.List_item > div:nth-of-type(1) {
  text-align: left;

  padding-left: 35%;
}
.List_head > div {
}
.List_item > div {
  word-break: break-all;
  padding: 0 2px;
}

.rate_ctrl {
  width: max-content;
  padding: 0 7px !important;
  font-size: 11px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: var(--green);
  text-align: center;

  background-color: rgb(238, 253, 245);
}
.order_ctrl {
  width: max-content;
  padding: 0 7px !important;
  font-size: 11px;

  text-align: center;
  color: var(--blue);
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: var(--light-blue);
}
.sort_icon_holder {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  align-items: center;
}
.Item_Icon {
  color: var(--light-gray);
  cursor: pointer;
}
.Item_Icon:hover {
  color: var(--blue);
}
.sort_icon {
  color: var(--light-gray);
  font-size: 10px;
  margin-left: 7px;
  margin-right: 4px;
}
.list_type_wrapper {
  margin-left: 6px;
}
.list_type {
  /* height: 15px; */
  margin-left: 8px;
  float: right;
  font-size: 27px;
  cursor: pointer;
  color: var(--light-gray);
}
.activeList {
  color: var(--blue) !important;
}
/**********search input style*********/
.search_input {
  position: relative;
  width: 30%;
}
.SORTIcon {
  display: flex;

  justify-content: flex-end;
  align-items: center;
}
.SORTIcon .icon {
}
/***********check box style**********/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  z-index: 0.1;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2em;
  height: 1.2em;
  background-color: white;

  border: 1px solid var(--lighter-gray);
  border-radius: 7px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  font-size: 1.2em;
  line-height: 0.8;
  color: var(--blue);
  transition: all 0.2s;

  /* font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial; */
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  /* border: 1px solid var(--blue); */
}

/* hover style just for information */
label:hover:before {
  border: 1px solid var(--blue);
}

.List_footer {
  display: grid;
  grid-template-columns: 3fr auto;
  border: 2px solid var(--lighter-gray);
  border-radius: 0 0 7px 7px;
  border-top: none;
  padding: 10px 13px;
}
.List_footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--gray);
  font-size: 10px;
  justify-content: space-between;
}
.List_footer p {
  font-size: 10px;
  color: var(--gray);
}
.List_footer .icon {
  color: var(--light-gray);
  font-size: 8px;
  margin: 0 10px;
  cursor: pointer;
}
.List_footer .active {
  color: var(--blue);
}
@media screen and (max-width: 600px) {
  .List_head,
  .List_item,
  .order_ctrl,
  .rate_ctrl {
    font-size: 9px;
  }
}

/* @media screen and (max-width: 309px) {
  .List_head,
  .List_item,
  .order_ctrl,
  .rate_ctrl {
    font-size: 8px;
  }
} */
@media screen and (max-width: 350px) {
  .List_filter {
  }
}
@media screen and (max-width: 450px) {
  .List_filter .filter_holder {
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .List_filter .input_wrapper {
    columns: 1/-1;
  }
  .List_btn,
  .Filter_ctrl {
    margin: 5px 10px;
  }
}
@media screen and (max-width: 298px) {
  .List_head,
  .List_item,
  .order_ctrl,
  .rate_ctrl {
    font-size: 6px;
  }
  .List_btn,
  .Filter_ctrl {
    font-size: 8px !important;
  }
}
