/** @format */

.login_page {
  width: 30em;
  padding: 40px 20px;
  margin: 10% 30%;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
}
.login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  transition: ease-in-out 2s;
}
.login_input {
  grid-template-columns: 30px auto !important;
}
.errorMsg {
  color: red;
  /* padding: 2px 0; */
}
