/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-spacing: 5px;
}
a {
  text-decoration: none;
  color: unset;
}
:root {
  --red: #f72f57;
  --blue: #3b86ff;
  --black: #24292e;
  --white: #ffffff;
  --green: #18dc6c;
  --gray: #808d93;
  --dark-gray: #707070;
  --light-gray: #e1e4e8;
  --sky-gray: #ced9eb;
  --offWhite: #f4f7fc;
  --light-blue: #ebf3ff;
  --lighter-gray: #f6f8fa;
}
.input_wrapper {
  display: grid;
  grid-template-columns: auto;
  margin-right: 3%;
}
.input_wrapper p {
  font-size: 13px;
  margin: 2% 0;
}
.input_wrapper > div {
  display: grid;
  align-items: center;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 0 2px;
  width: 350px;

  grid-template-columns: 3fr 0.2fr;
}
.input_wrapper > div .input_wrapper {
  border-right: none;
}
.two_col_flex {
  display: grid;

  grid-template-columns: auto auto;
}
.space_wrapper {
  padding: 5px;
  padding-left: none;
}
.warp_flex {
  display: grid;
  grid-template-columns: auto auto auto;
}
.input_wrapper input[type="text"],
.input_wrapper input[type="password"] {
  padding: 7px;
  font-size: 14px;
  color: #c4c1c1;
  border: none;
  border-radius: 5px;
}

button {
  outline: none !important;
}
img {
  cursor: pointer;
}
.input_wrapper .input_border {
  display: grid;
  grid-template-columns: auto;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.input_wrapper input[type="text"]:focus,
.input_wrapper input[type="password"]:focus {
  border: none;
  outline: none !important;
}
.input_wrapper input::placeholder {
  color: #e1e2e2;

  font-size: 14px;
}
body {
  /* background-color: tomato; */
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;

  align-items: center;
}
@media only screen and (max-width: 1220px) {
  .warp_flex {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 755px) {
  .two_col_flex,
  .warp_flex {
    grid-template-columns: auto;
  }
  .space_wrapper p {
    font-size: 12px;
  }
  .btn {
    font-size: 9px !important;
  }
  .space_wrapper {
    padding: 0px;
  }
}
@media only screen and (max-width: 385px) {
  .input_wrapper input[type="text"],
  .input_wrapper input[type="password"] {
    width: 80%;
    height: 80%;

    /* grid-template-columns: 1fr 0.1fr; */
  }
  .input_wrapper .input_border {
    height: 80%;
  }
  .input_wrapper > div {
    width: 70%;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    margin: 0 auto;
    max-width: 900px;
  }
}
@media screen and (max-width: 298px) {
  .input_wrapper input[type="text"]:focus,
  .input_wrapper input[type="password"]:focus {
    font-size: 10px;
  }
  .input_wrapper input::placeholder {
    font-size: 10px;
  }
}
